<center><%= form_with url: "/artists/#{@artist.id}/edit", method: :patch, local: true do |form| %>
  <h1>Update <%= @artist.name %>:</h1>
  <%= form.label :name, "Name" %>
  <br>
  <%= form.text_field :name, value: "#{@artist.name}"  %>
  <br><br>
  <%= form.label :description, "Description" %>
  <br>
  <%= form.text_area :description, size: "50x5", value: "#{@artist.description}" %>
  <br><br>
  <%= form.label :years_experience, "Years Experience" %>
  <br>
  <%= form.text_field :years_experience, size: "5x1", value: "#{@artist.years_experience}" %>
  <br><br>
  <%= form.label :comissions_open, "Are Comissions Open?"%>
  <br>
  <%= form.select :comissions_open, [["YES", "true"], ["NO", "false"]], selected: "#{@artist.comissions_open}" %>
  <br/><br>
  <%= form.submit "Update Artist" %>
<% end %></center>
