<center><%= form_with url: "/artists", method: :post, local: true do |form| %>
  <h1>Enter a New Artist:</h1>
  <%= form.label :name, "Name" %>
  <br>
  <%= form.text_field :name %>
  <br><br>
  <%= form.label :description, "Description"%>
  <br>
  <%= form.text_area :description, size: "50x5" %>
  <br><br>
  <%= form.label :years_experience, "Years Experience" %>
  <br>
  <%= form.text_field :years_experience, size: "5x1" %>
  <br><br>
  <%= form.label :comissions_open, "Are Comissions Open?"%>
  <br>
  <%= form.select :comissions_open, [["YES", "TRUE"], ["NO", "FALSE"]] %>
  <br/><br>
  <%= form.submit "Create Artist"  %>
<% end %></center>
