<a href="/artists">Artist Index</a>


<h1>Name: <%= @artist.name %></h1>

<h3><a href="/artists/<%= @artist.id %>/artworks"><%= @artist.name %>'s Artworks</a></h3>

<p>Total works of art for <%= @artist.name %>: <%= @artist.total_number_of_artworks %></p>

<p>Description: <%= @artist.description %></p>

<p>Years Experience: <%= @artist.years_experience %></p>

<p>Comissions Open? = <%= @artist.comissions_open %></p>

<p>Created At: <%= @artist.created_at %></p>

<p>Updated At: <%= @artist.updated_at %></p>


<a href="/artists/<%= @artist.id %>/edit"><%= button_to "Update #{@artist.name}", "/artists/#{@artist.id}/edit", method: :get %></a>
