<%= link_to "Create Beer", "/breweries/#{@brewery.id}/beers/new" %>

<h1>All beers made by <%= @brewery.name %>:</h1>

<% @beers.each do |beer| %>
  <h3><%= beer.name %></h3>
  <p>Style: <%= beer.style %></p>
  <p>ABV(%): <%= beer.abv %></p>
  <p>IBU: <%= beer.ibu %></p>
  <p>Non Alcoholic: <%= beer.non_alcoholic %></p>
  <%= link_to "Delete #{beer.name}", "/beers/#{beer.id}", method: :delete %>
<% end %>

<%= link_to "Sort in alphabetical order", "/breweries/#{@brewery.id}/beers?sort=sorted_alphabetically" %>
