<%= link_to "Create Beer", "/breweries/#{@brewery.id}/beers/new" %>

<h1>All beers made by <%= @brewery.name %>:</h1>

<% @brewery.beers.each do |beer| %>
  <h3><%= beer.name %></h3>
  <p>Style: <%= beer.style %></p>
  <p>ABV(%): <%= beer.abv %></p>
  <p>IBU: <%= beer.ibu %></p>
  <p>Non Alcoholic: <%= beer.non_alcoholic %></p>
<% end %>
