<h1>Artworks</h1>

<%= link_to 'Create Artwork', "/artists/#{@artist.id}/artworks/new" %>
<br><br>
<%= link_to 'Sort in Alphabetical Order', "/artists/#{@artist.id}/artworks?sorting" %>
<br><br>

<form action="/artworks" method="GET">
  <p>Artworks Priced Above: <input type="text" name="price_above" ></p>
  <input type="submit" value="Submit">
</form>

<% @artworks.each do |artwork| %>
  <p><%= artwork.name %></p>
<a href="/artworks/<%= artwork.id  %>/edit">Edit <%= artwork.name %></a><br><br>
<% end %>
