<center><%= form_with url: "/breweries/#{@brewery.id}", method: :patch, local: true do |form| %>
<h1>Update <%= @brewery.name %>:</h1>
<%= form.label :name, 'Name:' %>
<%= form.text_field :name, value: "#{@brewery.name}" %>
<%= form.label :location, 'Location:' %>
<%= form.text_field :location, value: "#{@brewery.location}" %>
<%= form.label :year_established, 'Year Established:' %>
<%= form.number_field :year_established, value: "#{@brewery.year_established}" %>
<%= form.label :multiple_brewhouses, 'Are there multiple brewhouses?' %>
<%= form.select :multiple_brewhouses, [["Yes", "true"], ["No", "false"]], selected: "#{@brewery.multiple_brewhouses}" %>

<%= form.submit "Update Brewery" %>
<% end %></center>
