<%= link_to "New Brewery", "/breweries/new" %>

<h1>All Breweries</h1>

<% @breweries.each do |brewery| %>
  <h3><a href="/breweries/<%= brewery.id %>"><%= brewery.name %></a></h3>
  <p>Record created at: <%= brewery.created_at %></p>
  <%= link_to "Update #{brewery.name}", "/breweries/#{brewery.id}/edit", method: :get %>
<% end %>
