<h1>All Breweries</h1>

<% @breweries.each do |brewery| %>
  <h3><a href="/breweries/<%= brewery.id %>"><%= brewery.name %></a></h3>
  <p>Year established: <%= brewery.year_established %></p>
  <p>Located in colorado: <%= brewery.in_colorado %></p>
  <a href="/breweries/<%= brewery.id %>/edit">Edit</a>
  <form action="/breweries/<%= brewery.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
  </form>
<% end %>
