<center><%= form_with url: '/breweries', method: :post, local: true do |form| %>
<h1>Create Brewery:</h1>
<%= form.label :name, 'Name:' %>
<%= form.text_field :name %>
<%= form.label :location, 'Location:' %>
<%= form.text_field :location %>
<%= form.label :year_established, 'Year Established:' %>
<%= form.number_field :year_established %>
<%= form.label :multiple_brewhouses, 'Are there multiple brewhouses?' %>
<%= form.select :multiple_brewhouses, [["Yes", "true"], ["No", "false"]] %>

<%= form.submit "Create Brewery" %>
<% end %></center>
