<%= form_with url: '/breweries', method: :post, local: true do |form| %>
  <%= form.label :name, 'Name:' %>
  <%= form.text_field :name %>
  <%= form.label :location, 'Location:' %>
  <%= form.text_field :location %>
  <%= form.label :year_established, 'Year Established:' %>
  <%= form.number_field :year_established %>
  <%= form.label :multiple_brewhouses, 'Multiple Brewhouses: True' %>
  <%= form.radio_button :multiple_brewhouses, 'true' %>
  <%= form.label :multiple_brewhouses, 'False' %>
  <%= form.radio_button :multiple_brewhouses, 'false' %>

  <%= form.submit "Create Brewery" %>
<% end %>




  <!-- <input type="radio" id="true" name="brewery[multiple_brewhouses]" value="true">
  <label for="true">True</label><br>
  <input type="false" id="false" name="brewery[multiple_brewhouses]" value="false">
  <label for="false">False</label> -->
