<h1><%= @beer.name %></h1>

<p>Brewery: <%= @beer.brewery.name %></p>

<p>Style: <%= @beer.style %></p>

<p>ABV(%): <%= @beer.abv %></p>

<p>IBU: <%= @beer.ibu %></p>

<p>Non Alcoholic: <%= @beer.non_alcoholic %></p>

<%= link_to "Update #{@beer.name}", "/beers/#{@beer.id}/edit" %>

<%= link_to "Delete #{@beer.name}", "/beers/#{@beer.id}", method: :delete %>
