<a href="/beers">Beer Index</a>

<h1><%= @beer.name %></h1>

<p>Style: <%= @beer.style %></p>

<p>ABV(%): <%= @beer.abv %></p>

<p>IBU: <%= @beer.ibu %></p>

<a href="/beers/<%= @beer.id %>/edit">Edit</a>
